<html>
    <head>
        <title>Ginganinja's blog</title>
    </head>
<body>
    <div>
        <h1><a href="/">Ginganinja's blog</a></h1>
    </div>

    <div>
        <p>published: 11.12.20, 19:28</p>
        <h2><a href="">My first post</a></h2>
        <p>This is the first go aroound. I am learning this to make a career change</p>
    </div>

    <div>
        <p>published: 11.12.20, 20:00</p>
        <h2><a href=""> My secon post</a></h2>
        <p>I really want to get good at this stuff. I want to have the freedom to work remote anywhere</p>
    </div>
</body>
</html>